@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgb(97, 97, 97);
}
/*NAVBAR*/
.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
    color: rgb(51, 51, 51) !important;
}

.navbar-logo{
    margin-top: -5px;
    height: 35px;
}

.navbar{
    background-color: white;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: rgb(53, 53, 53) !important;
}

.navbar-nav>.nav-item{
    padding-right: 6px;
}

section{
    background-image: url(../img/headImage.gif);
    background-repeat: no-repeat;
    margin-top: -85px;
}

#home{
    margin-bottom: -8.50%;
}

#home .headtext{
    color: rgba(255, 255, 255, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 0px;
    font-weight: 100;
    margin-top: 150px;
    text-align: center;
    transition-property: rgb(255, 255, 255);
    transition-duration: 1200ms;
}

#home .undertext{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    color:white;
}

.count-particles{
    margin-top: -100px;
}

/* DESKTOP VERSION */

@media (min-width: 1093px){

    /* Навигационный панель */
    
    header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 1s;
    z-index: 10000;
    }
    
    header.sticky{
        background: rgb(0, 0, 0);
        padding: 10px 0px;
    }
    
          
    .navbar, .nav-link{
        letter-spacing: 2px;
        margin: 0px 2px;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Poppins';
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0);
        color: white !important;
    }
    .navbar-brand{
        color: rgb(255, 255, 255) !important;
        font-family: 'Poppins';
        letter-spacing: 5px;
        font-weight: 800;
        font-size: 40px;
    }

    .navbar-logo{
        margin-top: -20px;
        height: 50px;
    }

    .dropdown-menu{
        width: 250px;
    }

    .dropdown-menu a {
        white-space: normal;
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Poppins';
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0);
        color: white !important;
    }

    nav.navbar .dropdown:hover > .dropdown-menu {
        display: block;
        background-color: rgb(1, 194, 191);
    } 
    
    .contact{
        border-radius: 5px;
        background-color: rgb(72, 208, 94);
    }     

    .active{
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        color: black !important;
    }

    .navbar-nav>.nav-item>.nav-link{
        outline: 2px solid rgba(255, 255, 255, 0);
        border-radius: 5px;
        border-color: rgba(255, 255, 255, 0);
        transition-property: outline;
        transition-duration: 200ms;
    }

    .navbar-nav>.nav-item>.nav-link:hover{
        outline: 2px solid rgb(255, 255, 255);
        border-color: rgba(255, 255, 255, 0);
        border-radius: 5px;
    }

    /* Header */

    #home{
        background-image: url(../img/headImage.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: -86px;
        padding-bottom: 370px;
    }

    #home .headtext{
        color: white;
        font-family: 'Poppins';
        font-size: 80px;
        font-weight: 700;
        text-align: left;
        margin-top: 200px;
    }

    #home .undertext{
        font-family: 'DM Sans', sans-serif;
        font-size: 17px;
        text-align: left;
        margin-left: 120px;
        color:white;
    }
    
    .count-particles{
        margin-top: -450px;
        margin-bottom: -230px;
    }
    

    /* Первый контент */

    .first{
        background-color: rgb(237, 237, 237);
    }

    .content{
        padding: 50px 0px;
        background-color: rgb(237, 237, 237);
    }

    .first h2{
        color: rgb(79, 79, 79);
        font-family: 'Poppins';
        font-size: 35px;
        font-weight: 400;
        user-select: none;
        letter-spacing: 5px;
        margin: 0px 0px 20px;
        padding: 0px 0px 15px;
    }

    .first p{
        color: rgb(75, 75, 75);
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        user-select: none; 
        text-align: left;
        margin: 0px 0px 44px;
    }

    .btn-primary{
        background-color: rgb(51, 119, 222);
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Poppins';
        font-size: 14px;
        letter-spacing: 2px;
        padding: 15px 26px;
    }

    .btn-primary:hover{
        background-color: rgb(58, 111, 167);
        border-color: rgb(58, 111, 167)     
        ;
    }

    /* Второй контент */

    .second{
        background-color: rgb(255, 255, 255); 
        padding: 50px 0px;
    }
    
    .sc-1{
        padding-bottom: 20px;

    }

    .sc-2{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .sc-3{
        padding-top: 50px;

    }
    
    .second img{
        user-select: none; 
    }

    .second h2{
        color: rgb(79, 79, 79);
        font-family: 'Poppins';
        font-size: 35px;
        font-weight: 400;
        user-select: none; 
        text-align: center;
        padding-bottom: 65px;
    }

    .second h4{
        color: rgb(59, 59, 59);
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 200;
        user-select: none;
        padding: 20px 0px 10px;
        margin: 0px;
    }

    .second p{
        color: grey;
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 200;
        text-align: left;
        margin: 0px 0px 20px;
    }

    .second .sc-btn-read{
        background-color: rgb(51, 119, 222);
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 30px;
        border: 5px double rgb(255, 255, 255);
        padding: 10px 20px;
    }

    .second .sc-btn-read:hover{
        background-color: rgb(88, 146, 234);
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        font-family: 'Poppins';
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 30px;
        border: 5px double rgb(255, 255, 255);
        padding: 10px 20px;
    }

    .second .sc-btn-know{
        background-color: rgb(51, 119, 222);
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Poppins';
        font-size: 14px;
        letter-spacing: 2px;
        text-decoration: none;
        border-radius: 3px;
        border: none;
        padding: 15px 25px;      
    }

    .second .sc-btn-know:hover{
        background-color: rgb(58, 111, 167);
        border-color: rgb(58, 111, 167) 
    } 

    /* Третий контент */

    .third{
        background-color: rgb(46, 112, 183);
        padding: 50px 0px; 
    }
    
    .third h2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Dosis';
        font-size: 48px;
        font-weight: 400;
        user-select: none; 
        text-align: center;
        padding-bottom: 10px;
    }

    .third .carousel-item{
        background-color: rgb(46, 112, 183);
        height: 420px;
        padding-top: 10px;
    }

    .third p{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Poppins';
        font-size: 16px;
        user-select: none; 
        height: 220px;
        padding-right: 230px;
        padding-left: 230px;
    }

    .third .vacant{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Poppins';
        font-size: 12px;
        user-select: none; 
        height: 10px;
        padding-right: auto;
        padding-left: auto;
    }

    .third h4{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        user-select: none; 
        margin: 25px 0px 10px;
        padding-right: auto;
        padding-left: auto;
    }

    .third img{
        width: 8%;  
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }
    
    /* Четвертый контент */

     .fourth{
        background-color: rgb(255, 255, 255);
        padding: 50px 0px; 
    }

    .fourth h2{
        color: rgb(82, 82, 82);
        text-align: center;
        font-family: 'Poppins';
        font-size: 35px;
        font-weight: 400;
        user-select: none; 
        text-align: center;
        padding-bottom: 10px;
    }

    .fourth h4{
        color: rgb(32, 98, 155);
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 700;
        user-select: none; 
        margin-top: 10px;
        margin-bottom: 50px;
        padding-right: auto;
        padding-left: auto;
    } 

    .fourth img{
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

    .fourth .headtext{
        color: rgb(52, 52, 52);
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 600;
        user-select: none; 
    }

    .fourth hr{
        color:rgb(0, 0, 0);
        opacity: 1;
        width: 30px;
        height: 2px;
        margin: 15px 367px 25px 0px;
    }

    .fourth .subtext{
        color: rgb(101, 101, 101);
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 500;
        user-select: none; 
    }

    .fourth .sc-btn-know{
        background-color: rgb(51, 119, 222);
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Poppins';
        font-size: 10px;
        letter-spacing: 2px;
        text-decoration: none;
        border-radius: 3px;
        border: none;
        padding: 13px 23px;      
    }

    .fourth .sc-btn-know:hover{
        background-color: rgb(58, 111, 167);
        border-color: rgb(58, 111, 167) 
    } 

    /* Пятый контент */

    .fifth{
        background-color: rgb(220, 235, 244);
        padding: 50px 0px; 
    }

    .fifth h2{
        color: rgb(96, 96, 96);
        text-align: center;
        font-family: 'Poppins';
        font-size: 30px;
        font-weight: 400;
        user-select: none; 
        letter-spacing: 3px;
        text-align: center;
        padding-bottom: 10px;
    }

    
}