@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed&family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    background-color: rgb(97, 97, 97);
}
/*NAVBAR*/
.navbar-brand{
    font-family: 'Russo One', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 32px;
    color: rgb(51, 51, 51) !important;
}

.navbar-logo{
    margin-top: -5px;
    height: 35px;
}

.navbar{
    background-color: white;
}

.nav-link{
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: rgb(53, 53, 53) !important;
}

.navbar-nav>.nav-item{
    padding-right: 6px;
}

section{
    background-image: url(../img/headImage.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -85px;
}

#home .headtext{
    color: rgba(255, 255, 255, 0);
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
    font-weight: 800;
    margin-top: 150px;
    text-align: center;
    transition-property: rgb(255, 255, 255);
    transition-duration: 1200ms;
}

#home .undertext{
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    color:white;
}

.count-particles{
    margin-top: -200px;
}

/* DESKTOP VERSION */

@media (min-width: 992px){

    /* Навигационный панель */
    .navbar-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .navbar, .nav-link{
        letter-spacing: 2px;
        margin-top: -2px;
        font-size: 13px;
        font-weight: 800;
        font-family: 'DM Sans', sans-serif;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0);
        color: white !important;
    }

    .nav-link{
        padding: 15px 0px;
    }

    .navbar-brand{
        font-family: 'Russo One', sans-serif;
        letter-spacing: 5px;
        font-weight: 800;
        font-size:40px;
        color: rgb(255, 255, 255) !important;
    }

    .navbar-logo{
        margin-top: -9px;
        height: 40px;
    }

    .dropdown-menu{
        width: 250px;
    }

    .dropdown-menu a {
        white-space: normal;
        letter-spacing: 2px;
        margin-top: -2px;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0);
        color: white !important;
    }

    nav.navbar .dropdown:hover > .dropdown-menu {
        display: block;
        background-color: rgb(1, 194, 191);
    } 
    
    .contact{
        border-radius: 5px;
        background-color: rgb(72, 208, 94);
    }     

    .active{
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        color: black !important;
    }

    .navbar-nav>.nav-item>.nav-link{
        outline: 2px solid rgba(255, 255, 255, 0);
        border-radius: 5px;
        border-color: rgba(255, 255, 255, 0);
        transition-property: outline;
        transition-duration: 200ms;
    }

    .navbar-nav>.nav-item>.nav-link:hover{
        outline: 2px solid rgb(255, 255, 255);
        border-color: rgba(255, 255, 255, 0);
        border-radius: 5px;
    }


    /* Header */
    section{
        background-image: url(../img/headImage.gif);
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: -85px;
        padding-bottom: 0%;
    }
    
    #home .headtext{
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-size: 80px;
        font-weight: 800;
        text-align: left;
        margin-top: 200px;
        margin-left: 40px;
    }

    #home .undertext{
        font-family: 'DM Sans', sans-serif;
        font-size: 17px;
        text-align: left;
        margin-left: 120px;
        color:white;
    }
    
    .count-particles{
        margin-top: -300px;
    }

    /* Первый контент */
    .first{
        background-color: rgb(237, 237, 237);
    }

    .content{
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgb(237, 237, 237);
    }

    .content .headtext{
        color: rgb(75, 75, 75);
        font-family: 'DM Sans', sans-serif;
        font-size: 40px;
        font-weight: 300;
        text-align: left;
        margin-top: 0px;
    }

    .content .undertext{
        color: rgb(75, 75, 75);
        font-family: 'DM Sans', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-top: 30px;
    }

    .btn-primary{
        background-color: rgb(51, 119, 222);
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'DM Sans', sans-serif;
        margin-top: 20px;
        padding: 12px 25px;
    }

    .btn-primary:hover{
        background-color: rgb(58, 111, 167);
        border-color: rgb(58, 111, 167)     
        ;
    }

    /* Второй контент */
    .second{
        background-color: rgb(255, 255, 255); 
        padding-bottom: 70px;
    }
    
    .sc-1{
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: rgb(255, 255, 255); 
    }

    .sc-2{
        padding-top: 40px;
        padding-bottom: 20px;
        background-color: rgb(255, 255, 255); 
    }

    .sc-3{
        padding-top: 40px;
        background-color: rgb(255, 255, 255); 

    }
    
    .second img{
        margin-bottom: 20px;
    }

    .second .headtext{
        color: rgb(82, 82, 82);
        font-family: 'DM Sans', sans-serif;
        font-size: 35px;
        font-weight: 200;
        text-align: center;
        padding-bottom: 20px;
    }

    .second h4{
        color: rgb(59, 59, 59);
        font-family: 'DM Sans', sans-serif;
        font-size: 25px;
        font-weight: 200;
        text-align: left;
    }

    .second p{
        color: grey;
        font-family: 'DM Sans', sans-serif;
        font-size: 15px;
        font-weight: 200;
        text-align: left;
    }

    .second .sc-btn-read{
        background-color: rgb(51, 119, 222);
        text-transform: uppercase;
        color: bisque;
        font-size: 15px;
        font-weight: 600;
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
        border-radius: 30px;
        border: 5px double rgb(255, 255, 255);
        padding: 5px 15px;
    }

    .second .sc-btn-read:hover{
        background-color: rgb(81, 146, 211);
        text-transform: uppercase;
        color: bisque;
        font-size: 15px;
        font-weight: 600;
        font-family: 'DM Sans', sans-serif;
        border-radius: 30px;
        border: 5px double rgb(252, 252, 252);
        padding: 5px 15px;
    }

    .second .sc-btn-know{
        background-color: rgb(51, 119, 222);
        text-transform: uppercase;
        color: bisque;
        font-size: 15px;
        font-weight: 600;
        font-family: 'DM Sans', sans-serif;
        text-decoration: none;
        border-radius: 3px;
        border: none;
        padding: 15px 25px;      
    }

    .second .sc-btn-know:hover{
        background-color: rgb(58, 111, 167);
        border-color: rgb(58, 111, 167) 
    } 

    /* Третий контент */
    

    .third{
        background-color: rgb(51, 119, 222);
        padding-bottom: 50px; 
        padding-top: 70px; 
    }
    
    .third .headtext{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
        font-weight: 200;
        text-align: center;
        padding-bottom: 20px;
    }

    .carousel-item{
        background-color: rgb(51, 119, 222);
        text-align: center;
        padding: 100px;
    }
}