@media (min-width: 601px) and (max-width: 767.98px) { 

    body{
        background-color: rgb(70, 70, 70);
        scroll-behavior: smooth;
    }
    
    .container{
        max-width: 1500px;
    }
    
    .nav {
        max-width: 500px;
        min-width: 500px;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: 0;
        right: -502px;
        padding: 0 20px;
        -webkit-transition: right 0.3s;
        -moz-transition: right 0.3s;
        transition: right 0.3s;
        background: rgba(52, 52, 52, 0.51);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.1px);
        -webkit-backdrop-filter: blur(12.1px);
        border: 1px solid rgba(0, 0, 0, 0.31);
        z-index: 2000;
    }
    
    .nav-toggle {
        position: absolute;
        right: 510px;
        top: 0.50em;
        background-color: rgba(0, 0, 0, 0.975);
        color: #dadada;
        font-size: 7em;
        line-height: 0;
        z-index: 2001;
    }
    
    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
        
    }
    
    [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        left: auto;
        right: 15px;
        top: 0.50em;
        
    }
    
    [id='nav-toggle']:checked ~ .nav {
        right: 0;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
    }
    
    [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
        content: '\2715';
    }
    
    .nav h2 {
        font-family: 'Kelly Slab', cursive;
        width: 100%;
        padding: 0 10px;
        margin: 170px 0 0px 0p;
        max-height: 300px;
        min-height: 300px;
        text-align: center;
        font-size: 4.5em;
        font-weight: 600;
        opacity: 0;
    }
    
    .nav h2 a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    [id='nav-toggle']:checked ~ .nav h2 {
        opacity: 1;
    }
    
    .nav > ul {
        margin-top: 0px;
        display: block;
        list-style: none;
    }
    
    .nav > ul > li {
        line-height: 2.5;
        opacity: 0;
        margin-bottom: 10px;
    }
    
    [id='nav-toggle']:checked ~ .nav > ul > li {
        opacity: 1;
    }
    
    .nav > ul > li > a {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 1.7em;
        color: #dadada;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 20px 0 20px;
        text-align: center;
        transition: 0.50s;
    }
    
    .nav > ul > li > a.active {
        font-size: 1.7em;
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        color: rgb(60, 60, 60);
        padding: 0 150px 0 20px;
        margin-right: 0;
    }
    
    .nav > ul > li > div > a {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.7em;
        color: #dadada;
        text-transform: uppercase;
        text-decoration: none;
        background-color: rgb(45, 163, 163);
        border-radius: 10px;
        color: rgb(60, 60, 60);
        padding: 0 150px 0 20px;
        text-align: center;
        transition: 0.50s;
    }

    .nav .logo{
        display: block;
        padding-bottom: 10px;
        margin-top: 100px;
    }

    .nav .logo-ico{
        background-image: url("/img/sanarip-logo/sanarip-logo-color-ico.png");
        background-size: cover;
        margin-top: 170px;
        margin-left: 140px;
        padding-right: 5px;
        position: absolute;
        width: 170px;
        height: 170px;
    }
    
    
    #home{
        background-image: url("../img/headimage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -650px;
        margin-top: -86px;
        padding-bottom: 370px;
        max-height: 1050px;
        min-height: 1050px;
    }

    .home{
        display: flex;
        align-items: center;
        margin-top: -200px;
        padding-bottom: 200px;
    }
    
    .home .header-text{
        user-select: none;
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: 'Cormorant Garamond', serif;
        text-transform: uppercase;
        font-size: 50px;
        padding-top: 0px;
        margin-top: -600px;
        font-weight: 600;
        text-align: center;
        
    }
    
    #home .subtext{
        font-family: 'Kelly Slab', cursive;
        font-size: 100px;
        text-align: center;
        color:white;
    }
    
    #first{
        padding: 30px 0px 50px;
        background-color: rgb(237, 237, 237);
    }
    
    #first h2{
        color: rgb(58, 58, 58);
        font-family: 'Exo', sans-serif;
        font-size: 80px;
        font-weight: 400;
        user-select: none;
        letter-spacing: 5px;
        margin: 0px 0px 20px;
        padding: 0px 0px 10px;
    }
    
    #first h4{
        color: rgb(58, 58, 58);
        font-family: 'Exo', sans-serif;
        font-size: 80px;
        font-weight: 400;
        user-select: none;
        letter-spacing: 5px;
        margin: 0px 0px 20px;
        padding: 50px 0px 10px;
    }
    
    #first p{
        color: rgb(75, 75, 75);
        font-family: 'Exo', sans-serif;
        font-weight: 500;
        text-align: justify;
        font-size: 28px;
        user-select: none; 
    }

    #second-mobile{
        display: none;
    }

    #second{
        background-color: rgb(255, 255, 255);
        padding: 30px 0px; 
        max-height: 1730px;
        min-height: 1730px;
        display: block;
    }
    
    #second h2{
        color: rgb(58, 58, 58);
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 70px;
        font-weight: 400;
        user-select: none; 
        text-align: center;
        padding-bottom: 10px;
    }
    
    #second h4{
        color: rgb(32, 98, 155);
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Exo', sans-serif;
        font-size: 30px;
        font-weight: 700;
        user-select: none; 
        margin-bottom: 30px;
        padding-right: auto;
        padding-left: auto;
    } 
    
    #second img{
        text-align: left;
        min-width: 50%;
        max-width: 50%;
        margin-top: 50px;
    }
    
    #second .header-text{
        color: rgb(58, 58, 58);
        font-family: 'Exo', sans-serif;
        font-size: 28px;
        font-weight: 600;
        user-select: none; 
    }
    
    #second .subtext{
        color: rgb(58, 58, 58);
        font-family: 'Exo', sans-serif;
        font-size: 28px;
        font-weight: 500;
        text-align: justify;
        word-break: break-all;
        width: 230px;
        user-select: none; 
    }
    
    #second hr{
        color:rgb(0, 0, 0);
        opacity: 1;
        width: 40px;
        height: 2px;
        margin: 15px 367px 25px 0px;
    }
    
    #second .carousel-control-prev, #second .carousel-control-next{
        max-height: 400px;
        min-height: 400px;
    }
 
    #third{
        background-color: rgb(46, 112, 183);
        padding: 30px 0px 0 0px; 
        max-height: 580px;
        min-height: 580px;
        
    }
    
    #third h2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 65px;
        font-weight: 400;
        user-select: none; 
        text-align: center;
        padding-bottom: 10px;
    }
    
    #third .carousel-item{
        background-color: rgb(46, 112, 183);
        max-height: 420px;
        min-height: 420px;
    }
    
    #third img{
        width: 150px;
        margin: 0 0px 0 295px;
    }

    #third .client{
        font-size: 30px;
    }

    #third p.comment{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-weight: 300;
        max-height: 180px;
        min-height: 180px;
        font-size: 24px;
        user-select: none; 
        padding-right: 70px;
        padding-left: 70px;
    }
    
    /* #third h4{
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        user-select: none; 
        margin: 0px 0px 10px;
        padding-right: auto;
        padding-left: auto;
    } */

    /* #third h4.subtitle{
        color: rgb(255, 255, 255);
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Exo', sans-serif;
        font-size: 30px;
        font-weight: 700;
        user-select: none; 
        margin-bottom: 30px;
        padding-right: auto;
        padding-left: auto;
    } */
    
    #third .carousel-control-prev, #third .carousel-control-next{
        max-height: 550px;
        min-height: 550px;
    }
    
    #fourth{
        background-color: rgb(255, 255, 255);
        padding: 50px 0px; 
        max-height: 600px;
        min-height: 600px;
    }
    
    #fourth h2{
        color: rgb(58, 58, 58);
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 70px;
        font-weight: 400;
        user-select: none; 
        text-align: center;
        padding-bottom: 10px;
    }
    
    #fourth h4{
        color: rgb(32, 98, 155);
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Exo', sans-serif;
        font-size: 30px;
        font-weight: 700;
        user-select: none; 
        margin-bottom: 30px;
        padding-right: auto;
        padding-left: auto;
    } 
    
    #fourth .header-text{
        color: rgb(52, 52, 52);
        font-family: 'Exo', sans-serif;
        font-size: 40px;
        font-weight: 600;
        margin-left: 100px;
        user-select: none; 
    }
    
    #fourth .subtext{
        text-align: justify;
        word-break: break-all;
        color: rgb(58, 58, 58);
        font-family: 'Exo', sans-serif;
        font-size: 28px;
        font-weight: 500;
        max-height: 450px;
        min-height: 450px;
        width: 550px;
        margin-left: 100px;
        user-select: none; 
    }
    
    #fourth hr{
        color:rgb(0, 0, 0);
        opacity: 1;
        width: 30px;
        height: 2px;
        margin: 15px 367px 25px 100px;
    }
    
    .carousel-control-prev-icon, .carousel-control-next-icon{
        filter: brightness(0);
        margin: -220px 0 0 0;
    }

    #fifth{
        padding: 50px 0;
        max-height: 760px;
        min-height: 760px;
        background-color: rgb(237, 247, 253);
    }

    
    #fifth .carousel-item{
        background-color: rgb(237, 247, 253);
        max-height: 470px;
        min-height: 470px; 
    }


    #fifth h2{
        color: rgb(58, 58, 58);
        letter-spacing: 0px;
        text-align: center;
        font-size: 70px;
        font-weight: 500;
        user-select: none; 
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    
    #fifth p{
        color: rgb(58, 58, 58);
        text-align: center;
        font-size: 28px;
        padding: 0 80px 0 80px;
        max-height: 410px;
        min-height: 410px;
    }
    
    #fifth .client{
        color: rgb(58, 58, 58);
        letter-spacing: 0px;
        font-size: 34px;
        font-weight: 700;
        user-select: none; 
        margin-top: 0px;
        text-align: center;
    }

    #fifth .carousel-control-prev{
        max-height: 420px;
        min-height: 420px;

    }

    #fifth .carousel-control-next{
        max-height: 420px;
        min-height: 420px;
        
    }

    #sixth{
        background-color: rgb(220, 235, 244);
        padding: 30px 0px; 
    }
    
    #sixth h2{
        color: rgb(58, 58, 58);
        text-align: center;
        font-family: 'Exo', sans-serif;
        font-size: 70px;
        font-weight: 400;
        user-select: none; 
        letter-spacing: 2px;
        text-align: center;
        padding-bottom: 0px;
    }
    
    #sixth img{
        padding: 10px;
        max-height: 130px;
        min-height: 130px;
        text-align: center;
    } 
    
    #sixth ul{
        background-color: rgba(0, 0, 0, 0);
    }
    
    .content-slider{
        background-color: rgba(255, 0, 0, 0);
        text-align: center;
    }
    
    #sixth .item{
        background-color: #00000000;
    }
    
    footer .contact{
        background-color: rgb(237, 237, 237);
        padding: 30px 0px;  
    }
    
    footer .map{
        border-radius: 10px;
        width: 746px;
        height: 550px;
        margin-bottom: 0px;
    }
    
    footer .first-ft-headtext{
        color: rgba(36, 36, 36, 0.941);
        font-family: 'Exo', sans-serif;
        font-size: 70px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    footer .box{
        top: 0px;
        left: 50px;
        position: relative;
        max-height: 450px;
        min-height: 450px;
        width: 640px;
        margin-bottom: 30px;
        background: rgba(255, 255, 255, 0.48);
        border-radius: 16px;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.359);
        border: 1px solid rgba(255, 255, 255, 0.324);
        transition: 0.3s;
    }
    
    footer .box:hover{
        top: -2px;
        left: 50px;
        position: relative;
        max-height: 450px;
        min-height: 450px;
        width: 640px;
        box-shadow: 2px 10px 25px  rgba(0, 0, 0, 0.653);
        backdrop-filter: blur(11.5px);
        border: 1px solid rgb(255, 255, 255);
    }
    
    footer .box .information-text{
        font-size: 40px;
        color: rgba(36, 36, 36, 0.941);
        font-family: 'Exo', sans-serif;
        font-weight: 500;
        padding: 30px 0 20px 20px;
    }
    
    footer .box p{
        color: rgba(36, 36, 36, 0.941);
        font-family: 'Exo', sans-serif;
        font-size: 28px;
        font-weight: 500;
        padding: 0px 25px;
    }
    
    footer .box img{
        margin-left: 240px;
        width: 105px;
        height: auto;
    }
    
    footer .box a{
        color: rgba(36, 36, 36, 0.941);
        font-family: 'Exo', sans-serif;
        font-weight: 300;
        padding: 0px 20px;
        text-decoration: none;
    }
    
    .myfooter{
        display: flex;
        justify-content: space-between;
    }

    footer .copyright{
        padding: 20px 0px;
        background-color: rgba(116, 116, 116, 0.633);
    }
    
    footer .copyright h2{
        font-size: 16px;
        font-family: 'Exo', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 0px 0px -4px;
        color: rgb(255, 255, 255);
    }
    
    #one{
        margin-top: -545px;
        padding-top: 545px;
    }

    #two{
        margin-top: -745px;
        padding-top: 745px;
    } 
    #three{
        margin-top: -145px;
        padding-top: 145px;
    }
    
    #five{
        margin-top: -900px;
        padding-top: 900px;
    }

    #cntct{
        margin-top: -145px;
        padding-top: 145px;  
    } 
}